<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body data-new-gr-c-s-check-loaded="14.1085.0" data-gr-ext-installed="">
  <div>
    <header>
      <h1>MinStack</h1>
    </header>
    <div class="container">
      <h1>Join our waiting list</h1>
      <p>Be the first to know what we are up to.</p>
      <form class="join-wrapper" hx-post="/subscribe">
         <input type="text" id="name" name="name" placeholder="Enter your name">
         <input type="email" id="email" name="email" placeholder="Enter your email">
         <button type="submit">Join Now!</button>
      </form>
       <div class="result" hx-post="/subscribe"></div>
    </div>
  </div>
</body>
</html>


